<html ng-app="delegator">
<head>
  <title>Delegator</title>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/delegator.css">
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Delegator</a>
      </div>
    </div>
  </nav>

  <div class="container" ng-controller="OptionsCtrl">
    <div class="alert alert-success" ng-show="saved">
      <strong>Saved!</strong>
    </div>

    <form id="options" role="form">
       <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="enabled"> Enabled
        </label>
      </div>
    </form>

    <form class="form-inline" role="form" ng-repeat="proxy in proxies">
      <div class="form-group">
        <label class="sr-only">Server</label>
        <input type="type" class="form-control" placeholder="Server" ng-model="proxy.server">
      </div>
      <div class="form-group">
        <label class="sr-only">Port</label>
        <input type="type" class="form-control" placeholder="Port" ng-model="proxy.port">
      </div>
    </form>

    <button type="submit" class="btn btn-default" ng-click="save(proxies)">Save</button>

    <hr>

    <div ng-repeat="service in services">
      <strong>{{service.name}}</strong>
      <ul>
        <li ng-repeat="condition in service.conditions">{{condition}}</li>
      </ul>
    </div>
  </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/services.js"></script>
  <script src="scripts/pac-script-builder.js"></script>
  <script src="scripts/proxy.js"></script>
  <script src="scripts/controllers/options.js"></script>
</body>
</html>
